html{
  overflow:auto;
}
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width:400px;
}

main h2{
  position:relative;
  top:50px;
  left: 50px;
  font-family: 'Orbitron', sans-serif;
}

.headphone-content{
  position:relative;
  top:50px;
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
  display: table;
  text-align: center;
}

.content-list{
  transition: left 0.3s ease;
  position: absolute;
  left:150px;
  height: 200px;
  vertical-align: middle;
  width: 0px;
}

.content-list-inner{
  position: absolute;
  height: 200px;
  width: 200px;
  background: url("/img/MDR-Z1000.jpg");
  background-size:cover;
  background-position:center;
}

.inner-hidden{
  font-family: 'Archivo Narrow', sans-serif;
  position: relative;
  top: 140px;
  width: 200px;
  height: 60px;
  color:#000;
  transition: opacity 0.4s ease;
  opacity: 1;
  background-color: rgba(255,255,255,0.7);
}
.inner-hidden .item-name{
  margin:0;
  font-size: 25px;
}
.content-prevnext{
  position:relative;
  height: 200px;
  width: 50px;
  display: table-cell;
  background-color: #444;
  vertical-align: middle;
  color: #FFF;
  font-size: 40px;
  font-weight:600;
  opacity: 0.5;
  z-index: 10;
}
.content-prevnext:hover{
  opacity: 0.8;
}

.expand-left-transition, .expand-right-transition {
  transition: all 1s ease;
}
.expand-left-enter , .expand-left-leave{
  left : -200px;
  opacity: 0;
}
.expand-right-enter , .expand-right-leave{
  left:500px ;
  opacity: 0;
}
